/* PAD styles */
.container-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8%;
}

.pad-btn {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #010104;
  box-shadow: 1px 2px 3px #848484;
}

.container-central {
  display: flex;
}

.screen {
  width: 90%;
  height: 200px;
  background-color: #9ca04c;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 15px;
}

.screen-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.selectButton {
  width:90px;
  height: 10px;
  font-size: 10px;
  margin-bottom: 5px;
}